/* Google Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal font & Smooth Scrolling */
html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: #252525;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 130px;
    margin-bottom: 2rem;
    flex: 1 0 auto;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo-container h1 {
    font-size: 1rem;
}

.logo-img {
    width: 60px;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0 3rem;
}

#menu a {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(0, 91, 221);
    transition: all 0.2s linear;
}

#menu .active-link {
    color: rgb(0, 41, 99);
    text-decoration: underline;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */

/* Home Section */
.grid-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem 1rem;
}
.grid-column {
    width: 100%;
}
.grid-column img {
    width: 100%;
}

.grid-column-with-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.grid-column-with-text h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.grid-column-with-text h1 span {
    color: rgb(0, 91, 221);
}
.grid-column-with-text h2 {
    font-size: 1.25rem;
}
.grid-column-with-text p {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 500;
}

.buttons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.btn {
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 91, 221);
    color: #ffffff;
    border: 1px solid rgb(0, 91, 221);
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
}
.btn.secondary-btn {
    background-color: #ffffff;
    color: inherit;
}

/* Footer */
footer {
    background-color: rgb(254, 85, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
}
footer ul {
    list-style-type: none;
}
#footer-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
}
footer a {
    color: #fafafa;
}
footer a i {
    font-size: 2.25rem;
}
footer p {
    color: #fafafa;
    font-size: 1.2rem;
}

/* Media query: tablet screen sizes (768px and larger) */
@media screen and (min-width: 768px) {
    .header__logo-container h1 {
        font-size: 1.25rem;
    }

    /* Resize home elements to look better on tablet screens */
    .grid-column-with-text p {
        width: 75%;
    }

    .grid-header {
        width: 75%;
    }
    .grid-header h1 {
        font-size: 2.5rem;
    }
    .grid-header h2 {
        font-size: 1.75rem;
    }
    /* Make buttons flex alongside each other */
    .buttons-group {
        flex-direction: row;
    }

    /* Footer */
    #footer-socials {
        justify-content: center;
        gap: 3.5rem;
    }
}

/* Media query: small laptop screens and larger (980px and up) */
@media screen and (min-width: 980px) {
    /* HEADER */
    header {
        padding: 1rem 3rem;
    }
    /* Hide nav icon */
    .nav-toggle-label {
        display: none;
    }

    /* Show navbar */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 0;
        box-shadow: none;
    }
    #menu {
        flex-direction: row;
        padding: 0;
        gap: 2rem;
    }
    #menu a:hover {
        color: rgb(254, 85, 101);
    }

    /* Increase main margin top for increased header height */
    main {
        margin-top: 118px;
    }

    /* Home section */
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    /* Put the column with text on the left, image on the right */
    .grid-column-with-text {
        order: -1;
    }

    /* Make content fit container again */
    .grid-header,
    .grid-column-with-text p {
        width: 100%;
    }

    .btn {
        font-size: 1rem;
        padding: 0.75rem;
    }
}

/* Media query: medium screens and larger (1100px and up) */
@media screen and (min-width: 1100px) {
    .btn {
        font-size: 1.1rem;
        padding: 1rem;
    }
}